$c: #5e4378;
:host ::ng-deep{
    nb-layout-column {
        padding: 0px !important;
        background: linear-gradient(
            92deg
            , #55b970, #2ab2b2) !important;
    }
}
.fc{
    color: $c !important;
}

.prime {
    background: white;
    height: fit-content;
    width: fit-content;
    padding-inline: 2.2rem !important;
    padding-block: 0.7rem !important;
    border-radius: 1rem !important;

    & {
        top: 39px;
        left: -2px;
    }
}
.regular {
    background: #228f8c;
    height: fit-content;
    width: fit-content;
    padding-inline: 2.2rem !important;
    padding-block: 1rem !important;
    border-radius: 1.5rem !important;

    & {
        top: 33px;
        left: -131px;
        z-index: 100;
    }
}
@media (max-width: 768px){
    .regular{
        top: 26px;
        left: -131px;
    }
    .prime {
        top: 31px;
        left: -2px
    }
}
.pointer{
    cursor: pointer !important;
}
.mc{
    width: max-content !important;
}
.br{
    border-radius: 10px !important;
}
.br-2{
    border-radius: 20px !important;
}
.btn{
    background: #40ba87;
    border-color: white !important;
}
.btn:focus {
    background: #269376;
    border-color: #269376 !important;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: unset !important;
}
.border{
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}
.img {
    width:  150px;
    height: 150px;
}

@media (max-width: 426px) {
    .img {
        width: 92px;
        height: 85px;
    }
}
.bg-rotate {
  position: absolute;
  background: #54b972;
  border-radius: 10px !important;
//   border-radius: 15px;
//   border-bottom-left-radius: 5px;
//   border-bottom-right-radius: 5px;
  top: 0px;
  z-index: -1;
  left: 10px;
  transform: rotate(85deg);
}
.verify{
    color: #787fa3 !important;
}
.premium {
    color: #d3cbd9 !important;
}
.fit-image{
    width: 22px;
    height: 22px;
}

.vl{
    display: none;
}
@media( max-width: 425px) {
    .vl{
        display: inline;
        border-right: 1px solid rgb(158, 158, 161);
    }
}
.scrollfix{
    padding-top: 1rem;
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.bottomfix {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    z-index: 100;
    height: 50px;
    background: white;
}

.onlymobile{
    display: none;
}
@media (max-width: 769px){
    .onlymobile{
        display: initial;
    }
}
.bb{
    border-bottom: 1px solid rgb(247, 245, 245);
}